body {
  background-color: #eee;
  font-family: "helvetica", "arial", sans-serif;
  color: #333;
  line-height: 1.5;
}

form {
  width: 100%;
  margin: 20px auto;
}

fieldset{

  border: none;
  background-color: #fff;

}

legend{
  font-weight: bold;
  margin: 20px 8px;

}

input {
  margin-bottom: 20px;
}

#answer {
  font-size: 130%;
}
